@import "src/assets/sass/var";

.header {
    grid-area: h;
    /*background-color: #a0b1ff;*/
    background-color: #ffffff;
    height: 50px;
    /*border-radius: 15px;*/
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 350px) and (max-width: 599px) {
        margin-bottom: 0;
    }

    .wrapper {
        width: 1200px;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: 800px) and (max-width: 1200px) {
            width: 800px;
            max-width: 1200px;
        }
        @media screen and (min-width: 600px) and (max-width: 799px) {
            width: 100%;
            margin: 0 10px;
        }
        @media screen and (min-width: 350px) and (max-width: 599px) {
            margin: 0 10px;
        }

        .logo {
            width: 40px;
            height: 40px;
            border-radius: 25px;
        }

        .loginBlock {
            display: flex;
            justify-content: center;
            align-items: center;

            .userName {
                font-weight: 500;
                color: #585858;
            }
            .logoutImg {
                width: 18px;
                height: 18px;
                cursor: pointer;
                margin-left: 16px;
            }
            .logoutImg:hover {
                width: 20px;
                height: 20px;
                margin-left: 14px;
                color: black;
            }
        }

        .loginBlock a {
            font-weight: bold;
            text-decoration: none;
            color: $general-text-color;
        }
    }
}

