.nav {
  height: auto;
  padding-right: 10px;
  border-radius: 15px;
  margin-right: 10px;
  grid-area: n;
  background-color: #e2edff;
  padding: 10px
}

.item a {
  color: midnightblue;
  font-weight: bold;
  text-decoration: none;
}
.item a.active {
  color: brown;
}