.nav {
  height: auto;
  padding-right: 10px;
  border-radius: 15px;
  margin-right: 10px;
  grid-area: n;
  background-color: #e2edff;
  padding-left: 10px;
  padding-top: 10px;
}

.item {
  color: midnightblue;
  font-weight: bold;
}
.active {
  color: goldenrod;
}