
.pagination {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pageNumber {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin: 2px;
    border: 1px solid gray;
}

.pageNumber.selectPageActive{
    font-weight: bold;
    border-color: black;
}