.app-container {
    margin: 0 auto;
    width: 1200px;
    height: auto;
    display: grid;

    grid-template-areas:
   'h h'
    'n c';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /* grid-gap: 10px; */
}

.app-container-content {
    grid-area: c;
    background-color: gainsboro;
    border-radius: 15px;
    padding: 10px;
}