.dialogs {
    /*display: grid;*/
    /*grid-template-columns: 2fr 10fr;*/
}

.dialogsContainer {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.dialogsItem {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.messages .message {

}