$general-text-color: #585858;
$title-text-color: #272727;
$second-hover-text-color: #3ece7e;
$second-text-color: #737373;
$icon-text-color: #464646;
$border-color: #cecece;
$transparent-items-color: rgba(23, 22, 22, 0.34);
$menu-hover-background: #eaeaea;
$menu-active-color: #3763ae;
$header-nav-font-weight: 600;
$box-shadow: rgb(131 131 131 / 15%) 0px 16px 20px, rgb(131 131 131 / 15%) 0px 0px 20px;
